$color-dark: #000000;
$color-red:#d40303;
$color-white: #fff;
$color-home-text: #e6e6e6;
$color-background-light: #F9F9F8;
$color-text-dark: #333;
$transparent: transparent;
$color-background-red: rgb(179,28,22);
$color-background-gradient: linear-gradient(27deg, rgba(179,28,22,1) 0%, rgba(237,97,7,1) 47%, rgba(179,28,22,1) 100%);