@import '../../styles/base-colors.scss';

@mixin containerHeaderBase($background) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  background-color: $background;
  position: fixed;
  width: 100%;

  .containerNavTitle {
    display: flex;
    justify-content: center;
    width: 100%;

    .navTitle {
      border: none;
      color: $color-white;
      cursor: pointer;
      padding-right: 10px;
      padding: 0 10px;
      font-size: 15px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        opacity: 0.3;
        transition: 0.8s;
      }
    }
  }
}

.containerHeaderActive {
  @include containerHeaderBase($transparent)
}

.containerHeader {
  @include containerHeaderBase($color-dark)
}