@import '../../styles/base-colors.scss';

.container {
  height: auto;
  background-color: $color-dark;
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;

  .imageStyle {
    height: 6vh;
    width: 6vh;
    margin-bottom: 1em;
    background-color: $color-white;
    cursor: pointer;

    &:hover {
      opacity: 0.4;
      transition: 0.4s;
    }
  }
}